.carousel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 3s;
    width: 100%; /* Ensure it stretches across the available container */
    height: 100vh; /* Set a fixed height or adjust according to your layout */
    margin: 0; /* Ensure there's no unexpected margin causing displacement */
}

.carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.31);
    z-index: 1;
}

.carousel .overlay-text{
    text-align: center;
    margin-bottom: 220px;
    color: white;
    z-index: 2;
}

.carousel .cta {
    width: 235px;
    height: 52px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    background: #FFB169;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

.title {
    font-size: 76px;
    font-weight: 600;
}

.subtitle {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.dots {
    position: absolute;
    bottom: 90px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transition: all 1s;
    z-index: 3;
    cursor: pointer;
}

.dot.active {
    background: white;
}
