/* Register page layout */
.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Container for register */
.register-container {
  display: flex;
  width: 60%;
  max-width: 1100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
  margin-bottom: 150px;
  border-radius: 8px;
}

/* Form side */
.register-form {
  flex: 1;
  padding: 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
  
}

/* Error message */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: -26px !important; /* Space between the input field and the error message */
  font-weight: bold;
  font-family: Arial, sans-serif;

  float:left;
}
.error-container{
  display: flex;
  flex-direction:  column;
}
/* Form Group - ensure the input field container is relative to place the error properly */
.form-group {
  margin-bottom: 20px;
  float:left
}

.form-group label {
  margin-right: 10px;
}
.form-group img{
  margin-right: 10px;
  margin-bottom: 15px;
}
.form-group input {
  flex: 1;
  padding: 10px;
  width: 100% !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
  
}


/* Submit button */
button[type="submit"] {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  background-color: #f4a261;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e76f51;
}
button[type="submit"]:disabled {
  background-color: #d3d3d3; /* Light gray when disabled */
  cursor: not-allowed;
}

.register-form a {
  color: #f4a261;
  text-decoration: none;
}

/* Image side */
.register-image {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.register-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Terms and Checkbox styles */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 38px;
  font-size: 14px;
  padding-bottom: 20px;

}

.checkbox-container label {
  margin-left: 10px;
  font-size: 16px;
}

.checkbox-container a {
  color: #f4a261;
  text-decoration: none;
  font-weight: 600;
}

.checkbox-container a:hover {
  text-decoration: underline;
}
.checkbox-container input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px; 
}
/* Link to Login page */
.register-form p a {
  color: #f4a261;
  text-decoration: none;
  font-weight: 600;
}
.register-form p {
  font-size: 16px;  /* Adjust this value to make the text bigger */
  margin-top: 25px;
  text-align: center;
}
